<div class="background-users">
    <div class="container mt-4">
    <h1>List of Users</h1>
        <div class="row">  
            <% @users.each do |user| %>
            <div class="col-5 offset-1">
                <div class="card w-80 mb-2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <% if user.avatar.url != nil %>
                                <%= image_tag user.avatar.url, class: "card-img" %>
                            <% else %>
                                <%= image_tag "no_avatar.jpg", class: "card-img" %>
                            <% end %>
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="user-name"><%= user.name %></h5>
                            <%= render "follow_form", user: user %>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <% end %>
        <div class="paginate-under">
            <br>
            <br>
            <%= will_paginate %>
        </div>
    </div>
</div>